node_modules/
keys/*
!keys/config.js
public/*
!public/scss
public/scss/*
!public/scss/styles.scss
!public/styles.css
# !public/materialize.css
# !public/materialize.min.css

# Usually it is a good practise to have unique gitignore for each developer
#.gitignore