node_modules/
.DS_Store

keys/*
!keys/config.js

public/*
!public/styles.css
!public/scss
public/scss/*
!public/scss/styles.scss

.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
# !public/materialize.css
# !public/materialize.min.css

# Usually it is a good practise to have unique gitignore for each developer
#.gitignore